.show{
    color: rgb(0, 110, 255);
    text-align: center;
    margin-top: 30px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 23px;
    cursor: pointer;
}
.end{
    color: green;
}
.edit{
    color: yellow;
}
.delete{
    color: red;
}